<nav class="container bg-stone-50 dark:bg-stone-900 border border-stone-200 dark:border-stone-700 rounded-full mx-auto mt-4">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto px-7 py-4">
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <span class="self-center text-2xl font-semibold text-stone-900 whitespace-nowrap dark:text-stone-50">Finaro</span>
    </a>
    
    {% if isConnected %}
        <twig:Layout:Header:Nav:UserNav
            firstname="{{ firstname }}"
            lastname="{{ lastname }}"
            email="{{ email }}"
        />
    {% else %}
        <button data-collapse-toggle="dropdown-menu" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-stone-500 rounded-lg md:hidden hover:bg-stone-100 focus:outline-none focus:ring-2 focus:ring-stone-200 dark:text-stone-400 dark:hover:bg-stone-700 dark:focus:ring-stone-600" aria-controls="dropdown-menu" aria-expanded="false">
            <span class="sr-only">Ouvrir le menu</span>
            <twig:ux:icon name="solar:hamburger-menu-broken" />
        </button>
        <div class="hidden w-full md:block md:w-auto">
            <ul class="font-medium flex flex-row items-center space-x-8 md:border-0">
                <li>
                    <a class="block text-stone-900 hover:text-stone-600 dark:text-stone-50 dark:hover:text-stone-300" href="{{ path('finaro_register') }}">S'inscrire</a>
                </li>
                <li>
                    <twig:Button:ButtonLink
                        color="gradient"
                        url="{{ path('finaro_login') }}"
                        text="Se connecter"
                    />
                </li>
            </ul>
        </div>
    {% endif %}
  </div>
</nav>
<div id="dropdown-menu" class="hidden container mx-auto mt-1 rounded-lg bg-stone-50 border border-stone-200 dark:border-stone-700 dark:bg-stone-900">
    <ul class="font-medium flex flex-col items-center p-4">
        <li>
            <a class="block py-2 px-3 text-stone-900 hover:text-stone-600 dark:text-stone-50 dark:hover:text-stone-300" href="{{ path('finaro_register') }}">S'inscrire</a>
        </li>
        <li>
            <twig:Button:ButtonLink
                color="gradient"
                url="{{ path('finaro_login') }}"
                text="Se connecter"
            />
        </li>
    </ul>
</div>
