<!DOCTYPE html>
<html class="dark">
    <head>
        <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Bienvenue{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>
    <body class="bg-white dark:bg-dark">
        <header>
            {% if not is_granted('IS_AUTHENTICATED_FULLY') or 'app_homepage' == app.request.attributes.get('_route') %}
                <div {{ vue_component('layout/Header', {
                    'is-connected': is_granted('IS_AUTHENTICATED_FULLY'),
                    'user': {
                        'firstname': app.user ? app.user.firstname : '',
                        'lastname':app.user ? app.user.lastname : '',
                        'email': app.user ? app.user.email : ''
                    },
                    'url': {
                        'login': path('app_login'),
                        'logout': path('app_logout'),
                        'register': path('app_register'),
                        'home': path('app_homepage'),
                        'dashboard': path('app_dashboard'),
                        'informations': path('app_homepage')
                    }
                }) }}></div>
            {% endif %}
            {% block header %}{% endblock %}
        </header>

        <main> 
            {% if is_granted('IS_AUTHENTICATED_FULLY') and 'app_homepage' != app.request.attributes.get('_route') %}
                <div {{ vue_component('layout/Sidebar', {
                    'user': {
                        'firstname': app.user ? app.user.firstname : '',
                        'lastname':app.user ? app.user.lastname : '',
                        'email': app.user ? app.user.email : ''
                    },
                    'url': {
                        'logout': path('app_logout'),
                        'dashboard': path('app_dashboard')
                    },
                    'nav': {
                        'dashboard': {
                            'name': {
                                'slug': 'dashboard',
                                'text': 'Dashboard',
                                'url': path('app_dashboard')
                            },
                            'icon': 'LayoutDashboard',
                        },
                        'account': {
                            'name': {
                                'slug': 'account',
                                'text': 'Comptes',
                            },
                            'subName': [
                                {
                                    'slug': 'current',
                                    'text': 'Compte courant',
                                    'url': path('app_account_current')
                                },
                                {
                                    'slug': 'common',
                                    'text': 'Compte commun',
                                    'url': path('app_account_common'),
                                    'badge': 'Soon'
                                }
                            ],
                            'icon': 'Coins'
                        },
                        'label': {
                            'name': {
                                'slug': 'label',
                                'text': 'Catégories',
                                'url': path('app_label')
                            },
                            'icon': 'Tag',
                        },
                        'simulator': {
                            'name': {
                                'slug': 'simulator',
                                'text': 'Simulateurs',
                            },
                            'subName': [
                                {
                                    'slug': 'mortgateLoan',
                                    'text': 'Crédit immobilier',
                                    'url': path('app_simulator_mortgate_loan')
                                },
                                {
                                    'slug': 'compoundInterest',
                                    'text': 'Intérêts composés',
                                    'url': path('app_simulator_compound_interest')
                                },
                                {
                                    'slug': 'financialIndependence',
                                    'text': 'Indépendance financière',
                                    'url': path('app_simulator_financial_independence')
                                }
                            ],
                            'icon': 'Calculator'
                        },
                        'tool': {
                            'name': {
                                'slug': 'tool',
                                'text': 'Outils',
                            },
                            'subName': [
                                {
                                    'slug': 'emailSignature',
                                    'text': 'Signature de mail',
                                    'url': path('app_email_signature')
                                },
                            ],
                            'icon': 'PocketKnife',
                        },
                    }
                }) }}></div>
            {% endif %}

            {% block body %}{% endblock %}
        </main>

        <footer>
            <div {{ vue_component('layout/Footer', {
                'is-app': is_granted('IS_AUTHENTICATED_FULLY') and 'app_homepage' != app.request.attributes.get('_route'),
                'url': {
                    'home': path('app_homepage'),
                    'contact': path('app_homepage'),
                    'terms': path('app_homepage'),
                    'privacy': path('app_homepage')
                }
            }) }}></div>
            {% block footer %}{% endblock %}
        </footer>
    </body>
</html>
