<!DOCTYPE html>
<html class="dark">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>
    <body class="bg-dark bg-linear-to-b from-dark-lightest from-0% via-violet-lightest via-10% to-dark-lightest to-100%">
        <header>
            {% if not is_granted('IS_AUTHENTICATED_FULLY') or 'app_homepage' == app.request.attributes.get('_route') %}
                <div {{ vue_component('layout/Header', {
                    'is-connected': is_granted('IS_AUTHENTICATED_FULLY'),
                    'user': {
                        'firstname': app.user ? app.user.firstname : '',
                        'lastname':app.user ? app.user.lastname : '',
                        'email': app.user ? app.user.email : ''
                    },
                    'url': {
                        'login': path('app_homepage'),
                        'logout': path('app_homepage'),
                        'register': path('app_homepage'),
                        'home': path('app_homepage'),
                        'dashboard': path('app_homepage'),
                        'informations': path('app_homepage')
                    }
                }) }}></div>
            {% endif %}
            {% block header %}{% endblock %}
        </header>

        <main>
            {% if is_granted('IS_AUTHENTICATED_FULLY') and 'app_homepage' != app.request.attributes.get('_route') %}
                <div {{ vue_component('layout/Sidebar', {
                    'user': {
                        'firstname': app.user ? app.user.firstname : '',
                        'lastname':app.user ? app.user.lastname : '',
                        'email': app.user ? app.user.email : ''
                    }
                }) }}></div>
            {% endif %}

            {% block body %}

                <div class="flex items-center justify-center min-h-screen">
                    <div class="text-center p-8 bg-dark/30 border-2 border-dark/30 shadow-xl rounded-2xl">
                        <h1 class="text-4xl font-bold text-white mb-4"><span class="me-3">🚧</span>Site en Construction<span class="ms-3">🚧</span></h1>
                        <p class="text-lg text-white/70 mb-6">Nous travaillons actuellement sur quelque chose d'incroyable. Revenez bientôt !</p>
                    </div>
                </div>

            {% endblock %}
        </main>

        <footer>
            <div {{ vue_component('layout/Footer', {
                'is-app': is_granted('IS_AUTHENTICATED_FULLY') and 'app_homepage' != app.request.attributes.get('_route'),
                'url': {
                    'home': path('app_homepage'),
                    'contact': path('app_homepage'),
                    'terms': path('app_homepage'),
                    'privacy': path('app_homepage')
                }
            }) }}></div>
            {% block footer %}{% endblock %}
        </footer>
    </body>
</html>
